#main {
    display: none;
}

.carregando-conteudo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    z-index: 1000;
}

.carregando-conteudo-t1 {
    font-size: 18px;
    font-weight: 800;
    font-family: var(--fonte-primaria);
    color: var(--laranja-dourado);
}

@keyframes animacao-carregamento {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.carregando-conteudo-img {
    animation-name: animacao-carregamento;
    animation-duration: 2s;
    animation-play-state: running;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.h {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--azul-escuro);
    padding-bottom: 2rem;
    position: static;
}

.h-mlr {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.h-mlr-img {
    width: 12%;
    background-color: var(--azul-escuro-fundo-menu);
    padding: .2rem;
} 

.h-mlr-act {
    display: none;
}

@keyframes menu-lateral-animacao {
    0% {
        width: 0;
    }

    100% {
        width: 160px;
    }
}

.h-mlr-act-visivel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 160px;
    height: 400px;
    z-index: 1000;
    background-color: var(--cinza-fundo-menu);
    animation-name: menu-lateral-animacao;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    z-index: 10;
    display: none;
}

.overlay.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
}

@keyframes menu-lateral-saida-animacao {
    0% {
        width: 160px;
        height: 400px;
    }

    100% {
        width: 0;
        height: 400px;
    }
}

.h-mlr-act-visivel-saida {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0;
    width: 0;
    gap: 1rem;
    background-color: var(--cinza-fundo-menu);
    animation-name: menu-lateral-saida-animacao;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
}

.h-mlr-act-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
} 

.none {
    display: none;
}

@keyframes ancoras-menu-animacao {
    0% {
        color: transparent;
        border-bottom: 1px solid transparent;
    }

    100% {
        color: var(--laranja-dourado);
        border-bottom: 1px solid var(--laranja-dourado);
    }
}

.h-mlr-act-menu-a {
    display: block;
    animation-name: ancoras-menu-animacao;
    animation-duration: 2s;
    animation-iteration-count: 1;
    font-size: 12px;
    font-weight: 300;
    font-family: var(--fonte-primaria);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--laranja-dourado);
    border-bottom: 1px solid var(--laranja-dourado);
    line-height: 20px;
}

@keyframes animacao-ancoras-saida {
    0% {
        color: var(--laranja-dourado);
        border-bottom: 1px solid var(--laranja-dourado);
        translate: 0;
    }

    100% {
        color: transparent;
        border-bottom: 1px solid transparent;
        translate: -20px;
    }
}

.h-mlr-act-a-animacao-saida {
    animation-name: animacao-ancoras-saida;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
}

.h-mlr-bv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-mlr-t1 {
    padding-top: 1rem;
    font-size: 14px;
    font-weight: 300;
    font-family: var(--fonte-primaria);
    color: var(--branco-padrao);
    text-transform: uppercase;
    animation-name: seja-bem-vindo;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

@keyframes seja-bem-vindo {
    0% {
        font-size: 0;
    }

    50% {
        font-size: 16px;
    }

    100% {
        font-size: 0;
    }
}

.h-mlr-t1st {
    padding-top: .7rem;
    font-weight: bold;
    font-family: var(--fonte-primaria);
    color: var(--branco-padrao);
    text-transform: uppercase;
    text-align: center;
    animation-name: seja-bem-vindo;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

.h-mlr-imgUser {
    width: 6%;
    padding: .2rem;
}

/* Filtro */
.f {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;   
    margin-top: 1rem;
}

.f-t1 {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--fonte-primaria);
    color: var(--laranja-dourado);
    text-transform: uppercase;
}

.f-act {
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--branco-padrao);
    font-size: 10px;
    font-weight: 300;
    font-family: var(--fonte-primaria);
    color: var(--branco-padrao);
    text-transform: uppercase;
}

@keyframes animacao-chegada-filtro {
    0% {
        color: transparent;
    }

    100% {
        color: var(--laranja-dourado);
    }
}

.f-t2 {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--fonte-primaria);
    text-align: center;
    color: var(--laranja-dourado);
    animation-name: animacao-chegada-filtro;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
}

@keyframes animacao-chegada-selecao-filtro {
    0% {
        color: transparent;
        border: 1px solid transparent;
    }

    100% {
        color: var(--branco-padrao);
        border: 1px solid var(--branco-padrao);
    }
}

.f-selecao {
    font-size: 14px;
    font-family: var(--fonte-primaria);
    color: var(--branco-padrao);
    background-color: transparent;
    border: 1px solid var(--branco-padrao);
    width: 180px;
    text-transform: uppercase;
    padding: .2rem 0;
    -webkit-animation-fill-mode: none;
    outline: none;
    animation-name: animacao-chegada-selecao-filtro;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
}

.f-opcao {
    font-size: 16px;
    font-weight: 300;
    font-family: var(--fonte-primaria);
    text-align: center;
    color: var(--laranja-dourado);
}

@keyframes animacao-chegada-botao-filtro {
    0% {
        color: transparent;
        border-bottom: 1px solid transparent;
    }

    100% {
        color: var(--laranja-dourado);
        border-bottom: 1px solid var(--laranja-dourado);
    }
}

.f-b {
    background: transparent;
    border-bottom: 1px solid var(--laranja-dourado);
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 16px;
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(--laranja-dourado);
    animation-name: animacao-chegada-botao-filtro;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
}